body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }

  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 2px solid rgb(14, 94, 131);
    background-color: rgb(12, 163, 201);
    float: left;
    font-size: 50px;
    color: rgba(255, 255, 255, 0.788);
    font-weight: bold;
    line-height: 34px;
    height: 70px;
    margin-right: -1px; 
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 70px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: rgb(220, 237, 255);
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .game .game-info {
    margin-left: 30px;
  }
